# .gitignore

# Ignore node_modules directory
node_modules/

# Ignore Parcel cache and build output
.parcel-cache/
dist/

# Ignore lock files
package-lock.json
yarn.lock

# Ignore sourcemaps
*.js.map
*.css.map
