.custom-button {
  background-color: #eb8181; /* Change the background color */
  border: none;
  border-radius: 40px; /* Change the border-radius to make the button rounded */
  cursor: pointer;
  height: 24px;
  width: 80px;
}

.custom-text {
  color: #ffffff;
  font-size: 12.5px;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  height: 20px;
}