.FINAL-my-growth {
  background-color: #fdf5e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.FINAL-my-growth .div {
  background-color: #fdf5e6;
  height: 1136px;
  position: relative;
  width: 375px;
}

.FINAL-my-growth .overlap {
  background-color: #ffffff;
  border-radius: 10px;
  height: 320px;
  left: 24px;
  position: absolute;
  top: 208px;
  width: 328px;
}

.FINAL-my-growth .group {
  height: 88px;
  left: 8px;
  position: absolute;
  top: 48px;
  width: 312px;
}

.FINAL-my-growth .overlap-group-wrapper {
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.FINAL-my-growth .overlap-group {
  background-color: #eb8181;
  border-radius: 5px;
  height: 88px;
  position: relative;
  width: 96px;
}

.FINAL-my-growth .text-wrapper {
  color: #fdf5e6;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 10px;
  left: 18px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
  width: 60px;
}

.FINAL-my-growth .img {
  height: 32px;
  left: 31px;
  position: absolute;
  top: 37px;
  width: 34px;
}

.FINAL-my-growth .overlap-wrapper {
  height: 88px;
  left: 104px;
  position: absolute;
  top: 0;
  width: 106px;
}

.FINAL-my-growth .overlap-2 {
  background-color: #eb8181;
  border-radius: 5px;
  height: 88px;
  position: relative;
  width: 104px;
}

.FINAL-my-growth .CARE-SUPPORT {
  color: #fdf5e6;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 25px;
  left: 18px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 68px;
}

.FINAL-my-growth .group-2 {
  height: 33px;
  left: 36px;
  position: absolute;
  top: 44px;
  width: 32px;
}

.FINAL-my-growth .div-wrapper {
  height: 88px;
  left: 216px;
  position: absolute;
  top: 0;
  width: 98px;
}

.FINAL-my-growth .text-wrapper-2 {
  color: #fdf5e6;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 10px;
  left: 18px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 60px;
}

.FINAL-my-growth .vector {
  height: 28px;
  left: 30px;
  position: absolute;
  top: 41px;
  width: 36px;
}

.FINAL-my-growth .overlap-3 {
  height: 57px;
  left: 7px;
  position: absolute;
  top: 168px;
  width: 98px;
}

.FINAL-my-growth .text-wrapper-3 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 65px;
}

.FINAL-my-growth .group-3 {
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 98px;
}

.FINAL-my-growth .overlap-4 {
  background-color: #fdf5e6;
  border: 2px solid;
  border-color: #eb8181;
  border-radius: 5px;
  height: 57px;
  position: relative;
  width: 96px;
}

.FINAL-my-growth .text-wrapper-4 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 65px;
}

.FINAL-my-growth .group-4 {
  height: 56px;
  left: 111px;
  position: absolute;
  top: 256px;
  width: 106px;
}

.FINAL-my-growth .overlap-5 {
  background-color: #fdf5e6;
  border-radius: 5px;
  height: 56px;
  position: relative;
  width: 104px;
}

.FINAL-my-growth .text-wrapper-5 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 65px;
}

.FINAL-my-growth .group-5 {
  height: 57px;
  left: 223px;
  position: absolute;
  top: 168px;
  width: 98px;
}

.FINAL-my-growth .overlap-6 {
  background-color: #fdf5e6;
  border-radius: 5px;
  height: 57px;
  position: relative;
  width: 96px;
}

.FINAL-my-growth .text-wrapper-6 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 65px;
}

.FINAL-my-growth .text-wrapper-7 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 88px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 151px;
}

.FINAL-my-growth .text-wrapper-8 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 92px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 235px;
  width: 144px;
}

.FINAL-my-growth .group-6 {
  height: 56px;
  left: 7px;
  position: absolute;
  top: 256px;
  width: 98px;
}

.FINAL-my-growth .overlap-7 {
  background-color: #fdf5e6;
  border: 2px solid;
  border-color: #eb8181;
  border-radius: 5px;
  height: 56px;
  position: relative;
  width: 96px;
}

.FINAL-my-growth .text-wrapper-9 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 65px;
}

.FINAL-my-growth .group-7 {
  height: 56px;
  left: 223px;
  position: absolute;
  top: 256px;
  width: 98px;
}

.FINAL-my-growth .group-8 {
  height: 57px;
  left: 111px;
  position: absolute;
  top: 168px;
  width: 106px;
}

.FINAL-my-growth .overlap-8 {
  background-color: #fdf5e6;
  border: 2px solid;
  border-color: #eb8181;
  border-radius: 5px;
  height: 57px;
  position: relative;
  width: 104px;
}

.FINAL-my-growth .text-wrapper-10 {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 65px;
}

.FINAL-my-growth .overlap-9 {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #eb8181;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 328px;
}

.FINAL-my-growth .text-wrapper-11 {
  color: #565454;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  left: 17px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.FINAL-my-growth .overlap-10 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 536px;
  left: 24px;
  position: absolute;
  top: 544px;
  width: 328px;
}

.FINAL-my-growth .overlap-11 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 169px;
  width: 92px;
}

.FINAL-my-growth .text-wrapper-12 {
  color: #d38007;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 21px;
  left: 29px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 63px;
}

.FINAL-my-growth .group-9 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.FINAL-my-growth .overlap-12 {
  background-color: #d3800733;
  border: 2px solid;
  border-color: #d38007;
  border-radius: 15.64px/15.1px;
  height: 30px;
  position: relative;
  width: 31px;
}

.FINAL-my-growth .text-wrapper-13 {
  color: #d37f07;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 19px;
  left: 5px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 18px;
}

.FINAL-my-growth .p {
  color: #555454;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  left: 18px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 205px;
  width: 291px;
}

.FINAL-my-growth .overlap-13 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 56px;
  width: 92px;
}

.FINAL-my-growth .text-wrapper-14 {
  color: #23a300;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  left: 29px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 63px;
}

.FINAL-my-growth .overlap-14 {
  background-color: #23a30033;
  border: 2px solid;
  border-color: #23a300;
  border-radius: 15.64px/15.21px;
  height: 30px;
  position: relative;
  width: 31px;
}

.FINAL-my-growth .text-wrapper-15 {
  color: #23a300;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  left: 5px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 18px;
}

.FINAL-my-growth .text-wrapper-16 {
  color: #555454;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 45px;
  left: 19px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 90px;
  width: 291px;
}

.FINAL-my-growth .overlap-15 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 411px;
  width: 92px;
}

.FINAL-my-growth .text-wrapper-17 {
  color: #5c6cff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 21px;
  left: 29px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 63px;
}

.FINAL-my-growth .overlap-16 {
  background-color: #5c6cff33;
  border: 2px solid;
  border-color: #5c6cff;
  border-radius: 15.64px/15.15px;
  height: 30px;
  position: relative;
  width: 31px;
}

.FINAL-my-growth .text-wrapper-18 {
  color: #5c6cff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  left: 4px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 20px;
}

.FINAL-my-growth .text-wrapper-19 {
  color: #555454;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 60px;
  left: 16px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 448px;
  width: 294px;
}

.FINAL-my-growth .overlap-17 {
  height: 29px;
  left: 12px;
  position: absolute;
  top: 291px;
  width: 92px;
}

.FINAL-my-growth .text-wrapper-20 {
  color: #c952bc;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 21px;
  left: 29px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 63px;
}

.FINAL-my-growth .group-10 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 33px;
}

.FINAL-my-growth .overlap-18 {
  background-color: #c952bc4c;
  border: 2px solid;
  border-color: #c952bc;
  border-radius: 15.64px/14.71px;
  height: 29px;
  position: relative;
  width: 31px;
}

.FINAL-my-growth .text-wrapper-21 {
  color: #c952bc;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 19px;
  left: 4px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 20px;
}

.FINAL-my-growth .text-wrapper-22 {
  color: #555454;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  left: 16px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 326px;
  width: 294px;
}

.FINAL-my-growth .text-wrapper-23 {
  color: #565454;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  left: 19px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.FINAL-my-growth .appreciation-special {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 20px;
  left: 62px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 172px;
  white-space: nowrap;
}

.FINAL-my-growth .vector-2 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 173px;
  width: 15px;
}

.FINAL-my-growth .overlap-19 {
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  height: 152px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 375px;
}

.FINAL-my-growth .group-11 {
  background-color: #f9bb62;
  border-radius: 36px;
  height: 72px;
  left: 24px;
  position: absolute;
  top: 64px;
  width: 72px;
}

.FINAL-my-growth .group-wrapper {
  background-color: #ea8b8b;
  border-radius: 30.86px;
  height: 62px;
  left: 5px;
  position: relative;
  top: 5px;
  width: 62px;
}

.FINAL-my-growth .group-12 {
  height: 48px;
  left: 13px;
  position: relative;
  top: 13px;
  width: 35px;
}

.FINAL-my-growth .overlap-group-2 {
  background-image: url(https://c.animaapp.com/Rm7LACSI/img/vector-197.svg);
  background-size: 100% 100%;
  height: 49px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 36px;
}

.FINAL-my-growth .ellipse-wrapper {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 4.3px/5.91px;
  height: 12px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 9px;
}

.FINAL-my-growth .ellipse {
  background-color: #000000;
  border: 0.5px solid;
  border-radius: 2.69px/3.76px;
  height: 8px;
  left: 1px;
  position: relative;
  top: 4px;
  width: 5px;
}

.FINAL-my-growth .overlap-20 {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 4.3px/5.91px;
  height: 12px;
  left: 21px;
  position: absolute;
  top: 11px;
  width: 9px;
}

.FINAL-my-growth .text-wrapper-24 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 15px;
  left: 104px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 89px;
  white-space: nowrap;
  width: 55px;
}

.FINAL-my-growth .overlap-21 {
  height: 42px;
  left: 264px;
  position: absolute;
  top: 80px;
  width: 89px;
}

.FINAL-my-growth .rectangle {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e9a0a0;
  border-radius: 8px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 80px;
}

.FINAL-my-growth .vector-3 {
  height: 17px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 17px;
}

.FINAL-my-growth .text-wrapper-25 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 15px;
  left: 34px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.FINAL-my-growth .group-13 {
  height: 33px;
  left: 224px;
  position: absolute;
  top: 87px;
  width: 34px;
}

.FINAL-my-growth .overlap-22 {
  border-radius: 16px/16.5px;
  height: 33px;
  position: relative;
  width: 32px;
}

.FINAL-my-growth .group-14 {
  background-color: #f9bb6266;
  border-radius: 16px/16.5px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.FINAL-my-growth .overlap-group-3 {
  background-color: #f9bb6280;
  border-radius: 14.72px/15.18px;
  height: 30px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 29px;
}

.FINAL-my-growth .ellipse-2 {
  background-color: #f9bb6299;
  border-radius: 13.44px/13.86px;
  height: 28px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 27px;
}

.FINAL-my-growth .ellipse-3 {
  background-color: #f9bb62;
  border-radius: 11.89px/12.26px;
  height: 25px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 24px;
}

.FINAL-my-growth .text-wrapper-26 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  height: 16px;
  left: 10px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 13px;
}

.FINAL-my-growth .overlap-23 {
  background-color: #ffffff;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.FINAL-my-growth .growth-circles {
  color: #eb8181;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 19px;
  width: 184px;
}

.FINAL-my-growth .span {
  font-weight: 700;
}

.FINAL-my-growth .text-wrapper-27 {
  font-style: italic;
  font-weight: 700;
}

.FINAL-my-growth .vector-4 {
  height: 18px;
  left: 24px;
  position: absolute;
  top: 18px;
  width: 23px;
}

.FINAL-my-growth .rectangle-2 {
  background-color: #eb8181;
  border-radius: 20px;
  height: 6px;
  left: 106px;
  position: absolute;
  top: 1096px;
  width: 30px;
}

.FINAL-my-growth .rectangle-3 {
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 6px;
  left: 146px;
  position: absolute;
  top: 1096px;
  width: 30px;
}

.FINAL-my-growth .rectangle-4 {
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 6px;
  left: 186px;
  position: absolute;
  top: 1096px;
  width: 30px;
}

.FINAL-my-growth .rectangle-5 {
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 6px;
  left: 226px;
  position: absolute;
  top: 1096px;
  width: 30px;
}

.FINAL-my-growth .vector-5 {
  height: 24px;
  left: 328px;
  position: absolute;
  top: 173px;
  width: 24px;
}
